In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,match_id,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,r2_hero,...,radiant_first_ward_time,dire_bottle_time,dire_courier_time,dire_flying_courier_time,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time,radiant_win
0,1,44,1,1448,1163,14,0,0,7,97,...,3.0,188.0,-64.0,NaN,0,2,0,0,NaN,1
1,2,77,1,1311,1809,31,0,0,6,47,...,25.0,NaN,-71.0,238.0,2,1,3,2,-9.0,0
2,3,66,2,1477,1367,25,0,0,7,22,...,13.0,76.0,-37.0,283.0,4,2,2,0,18.0,1
3,4,5,0,697,807,8,0,0,10,53,...,-11.0,NaN,-75.0,NaN,3,1,0,0,NaN,0
4,5,102,1,962,1087,11,0,0,6,98,...,31.0,147.0,-44.0,NaN,2,4,1,0,NaN,0

In [4]:
X = df.loc[:, 'r1_hero':'d5_items']

In [5]:
X_normalized = preprocessing.normalize(X, norm='l2')

In [6]:
X_normalized

array([[8.94423791e-03, 2.03278134e-04, 2.94346738e-01, ...,
        0.00000000e+00, 0.00000000e+00, 1.01639067e-03],
       [1.43189009e-02, 1.85959753e-04, 2.43793236e-01, ...,
        0.00000000e+00, 0.00000000e+00, 1.30171827e-03],
       [1.09916757e-02, 3.33081083e-04, 2.45980380e-01, ...,
        0.00000000e+00, 0.00000000e+00, 1.16578379e-03],
       ...,
       [1.53822085e-02, 3.45667606e-04, 2.15869420e-01, ...,
        0.00000000e+00, 1.72833803e-04, 1.03700282e-03],
       [1.53393897e-02, 1.80463408e-04, 1.89847505e-01, ...,
        0.00000000e+00, 0.00000000e+00, 1.08278045e-03],
       [6.25020838e-03, 1.78577382e-04, 2.91974020e-01, ...,
        0.00000000e+00, 0.00000000e+00, 1.42861906e-03]])

In [7]:
y = df['radiant_win']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.33, random_state=42)

In [9]:
clf = RandomForestClassifier(n_estimators=30)

In [10]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [11]:
clf.score(X_test, y_test)

0.5831464059727477

# Pytorch